@import "~bootstrap/scss/bootstrap";

.container {
	max-width: 400px;
	margin-top: 50px;
}

#select-exchange-list {
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 400px;
}

#select-exchange-list li {
	cursor: pointer;
}

#select-exchange-input-image {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none;
}

.dropdown-item-inner {
	max-width: 100%;
	max-height: 25px;
	height: 25px;
}

.item-image {
	float: right;
	max-height: 80%;
	max-width: 60%
}